<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!--引入SpringBoot日志配置-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--JMX配置器允许通过JXM配置logback-->
    <!--如果服务器运行在JDK1.6或更高版本，可以直接运行jconsole程序，然后连接到你的服务器的MBeanServer-->
    <jmxConfigurator/>

    <property name="logDir" value="/home/emon/saas/wechat/logs"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="wechat_desc_normal" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/%d{yyyyMMdd}/wechat_desc_normal.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <logger name="org.apache.http" level="INFO" additivity="true">
    </logger>

</included>